#header_mouse_activity{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	width: 100%;
	height: 50px;
	z-index: 1000000;
}

#header_bg{
    background: #ffffff;width:100%;
    box-shadow: 0 0 5px black; /* Параметры тени */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    position:fixed;
    top:-50px;
    right:0;
    left:0;
    z-index: 999;
    height:45px;
     -webkit-transition: top 0.3s;
	  -moz-transition: top 0.3s;
	  -o-transition: top 0.3s;
	  transition: top 0.3s;
}

#header{width:100%;text-align:center;
    position:fixed;
    top:-50px;
    right:0;
    left:0;
    z-index: 10001;
     -webkit-transition: top 0.3s;
	  -moz-transition: top 0.3s;
	  -o-transition: top 0.3s;
	  transition: top 0.3s;
}

#header_mouse_activity:hover #header_bg{top:0;}
#header_mouse_activity:hover #header{top:0;}

.content{float:left;margin-right:54px;width:640px;}
